body {
	background-color: azure;
}
h1 {
	text-align: center;
}

h2 {
	margin-left: 200px;
}
.major {
	width: 100%;
	margin: 2px 0 0 10px;
	font-family: Helvetica, sans-serif;
}

textarea {
	background-color: yellow;
}

form {
	margin-right: 300px;
	margin-left: 100px;
}