body {
	background-color: azure;
}
h1 {
	background-color: rgba(109, 212, 0, 0.5);
	text-align: center;
}

h2 {
	text-align: center;
}
.major {
	margin: auto;
	font-family: Helvetica, sans-serif;
}

fieldset {
	background-image: url(http://www.officialpsds.com/images/thumbs/loose-leaf-paper-psd13988.png);
	background-size: contain;
	width: 40%;
	margin: auto;
	border: 2px solid black;
	box-shadow: 2px 2px 2px #000;
}

textarea {
	background-color: yellow;
}

form {
	margin: auto;
}

#emailadd:valid {
	background-color: green;
}

#emailadd:invalid {
	background-color: red;
}
